<footer class="footer-style">
    <div class="each-element-style">
        <h1 class="font-cormorant_Garamond text-white font-bold text-[2rem] uppercase">Veterinaria <br> Tomy</h1>
        <p class="font-inter font-normal text-white text-[1.1rem] ">Liderando el camino en medicina <br>Excelencia, Atención confiable</p>
    </div>
    <div class="each-element-style">
        <h3 class="h3-element-style">Contactanos</h3>
        <div class="space-y-2">
            <p class="p-element-style">Celular:987645132</p>
            <p class="p-element-style">Email:tomygmail.com</p>
            <p class="p-element-style">Dirección: Jr. Calixto 123</p>
        </div>
    </div>
    <div class="each-element-style">
        <h3 class="h3-element-style">Atenciòn al cliente</h3>
        <div class="space-y-2">
            <div class="flex space-x-1">
                <input type="checkbox" name="" id="" placeholder="ghjklñ">
                <p class="p-element-style">Politicas de devolución</p>
            </div>
            <div class="flex space-x-1">
                <input type="checkbox" name="" id="" placeholder="ghjklñ">
                <p class="p-element-style">Politicas de devolución</p>
            </div>
            <div class="flex space-x-1">
                <input type="checkbox" name="" id="" placeholder="ghjklñ">
                <p class="p-element-style">Politicas de devolución</p>
            </div>
        </div>
    </div>
    <div class="each-element-style">
        <h3 class="h3-element-style">Libro de reclamaciones</h3>
        <img src="image/footer-book.png" alt="" class=" w-48 ">
    </div>

    <div class="col-span-4 row-span-1 border-t-2 border-dashboard-3 w-full h-[5rem] py-4">
        <div class="flex justify-between">
            <h1 class="p-element-style">Los papu amigos</h1>
            <div class="space-x-4">
                <i class="fa-brands fa-facebook fa-xl text-dashboard-3"></i>
                <i class="fa-brands fa-twitter fa-xl text-dashboard-3"></i>
                <i class="fa-brands fa-twitter fa-xl text-dashboard-3"></i>
            </div>
        </div>
    </div>
</footer>
